<nav>
    <ul>
        <li><b><a href="/">Home</a></b>&nbsp;</li>
        <li><b><a href="/courses">Courses</a></b>&nbsp;</li>
		<% if (user && user.role === 'student') { %>
			<li>
				<b>
					<a href="/carts/cart">Course Schedule</a>
				</b>&nbsp;
			</li>
		<% } %>
        <% if (user) { %>
            <li><b><a href="/logout">Logout</a></b>&nbsp;</li>
        <% } else { %>
            <li><b><a href="/login">Login</a></b>&nbsp;</li>
            <li><b><a href="/register">Register</a></b>&nbsp;</li>
        <% } %>
    </ul>
</nav>
