<nav>
    <ul>
        <li><b><a href="/index_FinalProjectGroup3.html">Home</a></b>&nbsp;</li>
        <li><b><a href="/teacher_Admin.html">Teacher Administration</a></b>&nbsp;</li>
        <li><b><a href="/student_Details.html">Student Details</a></b>&nbsp;</li>
        <li><b><a href="/courses">Courses</a></b>&nbsp;</li>
        <li><b><a href="/teacher_SignIn.html">Teacher Sign-In</a></b>&nbsp;</li>
        <li><b><a href="/student_SignIn.html">Student Sign-In</a></b>&nbsp;</li>
    </ul>
</nav>
