body {
		background-color:#DDD;
		color:#000000;
		border-radius: 15px;
		font-family:Arial, sans-serif;
		font-size: 90%;
	}


	h1 {
		background-color: #40826D;
		color: #DDD;
		border-radius: 15px;       /* Round the corners */
		padding: 20px;             /* Add padding inside the box */
		margin: 20px auto;         /* Center the element horizontally with auto margin */
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visual effect */
	  }

nav {font-size: 16px;
	font-weight: bold;
	}
