<div>
    <p>
        This is a site where you can sign up for courses. Faculty and staff can sign in to change courses or make adjustments. Students 
        need to sign in, as well as teachers and administrators. Courses are added and can be viewed in the course page.
    </p>
</div>
<main>
    <div>
        <p>
            <span>
                College courses
            </span><br>
            Bloomington, IN<br>
            888-000-0000<br>
        </p>
    </div>
</main>
<footer>
    <small><i>Copyright &copy; 2024 College courses<br>
</footer>