<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/indiana.css">
</head>
<body>
    <h1>Student Course Catalog</h1>
    <%- include('partials/navbar') %>
    <main style="margin-top: 20px;"> <!-- Add margin-top to push content down -->
        <%- body %>
    </main>
</body>
</html>
